.table-wrap {
  max-height: 45vh;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid rgb(255, 255, 255);
  padding : 12px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}